body {
  background-color: #e0f7ff;
}
h1{
	background-color: yellow;
	text-align: center;
	text-shadow: 2px 2px 5px blue;
	font-size: 60px;
	color:blue;
}
h2,h3{
	color:red;
}
table, td, th {
  border: 2px solid;
}

.bang1{
  border-collapse: collapse;
  width: 100%;
  background-color:#b0e0e6;
}
.bang2{
  border-collapse: collapse;
  width:30%;
  text-align: center;
  background-color:#b0e0e6;
  padding: 20px;
}
img {
  padding: 1px;
  width: 250px;
  height: 200px;
}
p2{
	text-align: left;
	font-size: 20px;
}
p1{
	text-align: left;
	font-size: 30px;
}
